.hero-section {
  width: 100%;
  height: 100vh;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.about-us__content .hero-section {
  overflow: hidden;
  max-height: 400px;
}